<!DOCTYPE html>
<html>
<head><title>Детали робота</title></head>
    <body>
        <table id = "Chat">
            <tr><input type = "text" id = "sender"> </tr>
        </table>
        <script type="text/javascript">
            var ws = new WebSocket("ws://localhost:8080/api/v1/wsrobotdetail");
                ws.onopen = function () {
                console.log("WS is opened");
            };

            ws.onmessage = function(evt) {
                var received_msg = evt.data.toString();
                var table = document.getElementById("Chat");
                row = table.insertRow(table.rows.length);
                cell = row.insertCell(0);
                cell.innerHTML = received_msg;
            };

            ws.onclose = function () {
                console.log("WS is closed");
            };
            
            document.getElementById("sender").addEventListener('keydown', function(e) {
                if (e.keyCode == 13) {
                    ws.send(document.getElementById("sender").value);
                    document.getElementById("sender").value = "";
                }
            })
        </script>
    </body>
</html>